{% extends 'base.html.twig' %}

{% block title %}Flashcard index{% endblock %}

{% block body %}
    <h1>Flashcard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Reponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flashcard in flashcards %}
            <tr>
                <td>{{ flashcard.id }}</td>
                <td>{{ flashcard.question }}</td>
                <td>{{ flashcard.reponse }}</td>
                <td>
                    <a href="{{ path('app_flashcard_show', {'id': flashcard.id}) }}">show</a>
                    <a href="{{ path('app_flashcard_edit', {'id': flashcard.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_flashcard_new') }}">Create new</a>
{% endblock %}
